<% layout("/layouts/boilerplate") %>

<div class="flex mt-3 justify-evenly">
  <div class="bg-neutral-900 w-1/4 rounded-3xl text-white">
    <label class="hidden">Status:</label>
    <div class="hidden" id="status"></div>
    <label class="hidden">FEN:</label>
    <div class="hidden" id="fen"></div>
    <label class="hidden">PGN:</label>
    <div class="hidden" id="pgn"></div>
    <div class="m-4 text-center">Opening</div>
    <div
      class="flex justify-center h-80 outline outline-neutral-800 overflow-y-scroll pt-2 moveTimeline"
    >
      <div class="w-20">
        <ul class="move text-center">
          <b>Move</b>
        </ul>
      </div>
      <div class="w-20">
        <ul class="whiteMove text-center even:bg-white">
          <b>White</b>
        </ul>
      </div>
      <div class="w-20">
        <ul class="blackMove text-center even:bg-white">
          <b>Black</b>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="text-white">Player 2</div>
    <div id="myBoard" style="width: 460px"></div>
    <div class="text-white">Player 1</div>
  </div>
  <div
    class="bg-neutral-900 w-1/4 flex flex-col justify-center items-center rounded-3xl"
  >
    <div
      class="h-24 text-white flex justify-center items-center text-4xl mx-4 mb-4"
    >
      Play Chess <br />
      <img src="/img/playwhite.cea685ba.svg" alt="image" />
    </div>
    <div
      class="h-16 w-11/12 bg-neutral-200 flex justify-center items-center rounded-2xl m-2 hover:bg-neutral-400 cursor-pointer"
    >
      <button class="w-full h-full" id="drop_btn">
        Play Online <i class="fa-solid fa-caret-down ml-2"></i>
      </button>
    </div>
    <div id="modes" style="display: none" class="w-3/4 text-center">
      <button
        class="bg-neutral-200 hover:bg-neutral-400 my-1 rounded-2xl w-full h-12"
        id="bullet"
      >
        <i class="fa-regular fa-hourglass mr-2"></i>Bullet 1|1
      </button>
      <button
        class="bg-neutral-200 hover:bg-neutral-400 my-1 rounded-2xl w-full h-12"
        id="blitz"
      >
        <i class="fa-solid fa-bolt mr-2"></i>Blitz 3|2
      </button>
      <button
        class="bg-neutral-200 hover:bg-neutral-400 my-1 rounded-2xl w-full h-12"
        id="rapid"
      >
        <i class="fa-solid fa-clock mr-2"></i>Rapid 10|0
      </button>
    </div>
    <div
      class="h-16 w-11/12 bg-neutral-200 flex justify-center items-center rounded-2xl m-2 hover:bg-neutral-400 cursor-pointer"
      onclick="window.location.replace('http://localhost:8080/computer')"
      id="computer"
    >
      Play Computer
    </div>
    <div
      class="h-16 w-11/12 bg-neutral-200 flex justify-center items-center rounded-2xl m-2 hover:bg-neutral-400 cursor-pointer"
      id="friend"
    >
      <form method="get" action="/friends" class="h-full w-full">
        <button class="h-full w-full">Play a Friend</button>
      </form>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
  crossorigin="anonymous"
></script>
<script src="/assets/js/chessboard-1.0.0.js"></script>
<script src="/assets/js/chessboard-1.0.0.min.js"></script>
<script src="/assets/js/chess-0.10.3.min.js"></script>
<script src="/assets/js/player.js"></script>
<script>
  let modes = document.getElementById("modes");
  let drop_btn = document.getElementById("drop_btn");
  let computer = document.getElementById("computer");
  let friend = document.getElementById("friend");
  let bullet = document.getElementById("bullet");
  drop_btn.addEventListener("click", () => {
    if (modes.style.display == "none") {
      modes.style.display = "block";
      computer.style.display = "none";
      friend.style.display = "none";
    } else {
      modes.style.display = "none";
      computer.style.display = "flex";
      friend.style.display = "flex";
    }
  });
  bullet.addEventListener("click", () => {
    socket.emit("create room", "bullet", user);
  });
  blitz.addEventListener("click", () => {
    socket.emit("create room", "blitz", user);
  });
  rapid.addEventListener("click", () => {
    socket.emit("create room", "rapid", user);
  });
</script>
<script>
  let user = "";
  <% if(currUser) { %>
    user = `<%= currUser.username %>`;
    socket.emit("userConnect", user);
    xhr.open("GET", `user/unread/<%= currUser.username %>`, true);
    xhr.onload = () => {
      let unReadCnt = xhr.responseText;
      console.log("fetched", unReadCnt);
      badge.style.display = "block";
      if (parseInt(unReadCnt) > 0) badge.innerText = parseInt(unReadCnt);
      else badge.style.display = "none";
    };
    xhr.send();
  <% } %>
</script>
