<% layout("/layouts/boilerplate") %>

<div class="flex">
  <div class="w-1/2 text-white">
    <div id="board1" style="width: 400px"></div>
  </div>
  <div class="w-1/2 text-white"></div>
</div>

<div class="flex">
  <div class="w-1/2 text-white"></div>
  <div class="w-1/2 text-white">
    <div id="board2" style="width: 400px"></div>
  </div>
</div>

<div class="flex">
  <div class="w-1/2 text-white">
    <div id="board3" style="width: 400px"></div>
  </div>
  <div class="w-1/2 text-white"></div>
</div>

<div class="flex">
  <div class="w-1/2 text-white"></div>
  <div class="w-1/2 text-white">
    <div id="board4" style="width: 400px"></div>
  </div>
</div>

<div class="flex">
  <div class="w-1/2 text-white">
    <div id="board5" style="width: 400px"></div>
  </div>
  <div class="w-1/2 text-white"></div>
</div>

<div class="flex">
  <div class="w-1/2 text-white"></div>
  <div class="w-1/2 text-white">
    <div id="board6" style="width: 400px"></div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
  crossorigin="anonymous"
></script>
<script src="/assets/js/chess-0.10.3.min.js"></script>
<script src="/assets/js/chessboard-1.0.0.min.js"></script>
<script src="/assets/js/learn.js"></script>
<script>
  let user = "guest";
  <% if(currUser) { %>
    user = `<%= currUser.username %>`;
    socket.emit("userConnect", user);
    xhr.open("GET", `user/unread/<%= currUser.username %>`, true);
    xhr.onload = () => {
      let unReadCnt = xhr.responseText;
      badge.style.display = "block";
      if (parseInt(unReadCnt) > 0) badge.innerText = parseInt(unReadCnt);
      else badge.style.display = "none";
    };
    xhr.send();
  <% } %>
</script>
