<% layout("/layouts/boilerplate") %>
<div
  class="h-screen"
  style="
    background-image: url(/img/chess_background.png);
    background-size: cover;
  "
>
  <div class="row">
    <div class="col-5 offset-1 mt-20 bg-neutral-900 rounded-2xl px-12">
      <form method="POST" action="/login" novalidate class="needs-validation">
        <h2 class="text-center text-white font-bold text-4xl mt-8 mb-4">
          Login
        </h2>
        <hr />
        <div class="mb-4">
          <label for="username" class="form-label text-white font-bold"
            >Username:
          </label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            placeholder="Enter username"
            required
          />
          <div class="invalid-feedback">Invalid username</div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label text-white font-bold"
            >Password:
          </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Enter Password"
            required
          />
          <div class="invalid-feedback">Invalid password</div>
        </div>
        <button class="btn btn-outline-light add-btn m-4">Log in</button>
      </form>
    </div>
    <div class="col-7 offset-1 text-white">
      Create new account :
      <form class="inline" action="/signup">
        <button class="btn btn-outline-light add-btn m-4">Sign Up</button>
      </form>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
<script>
  let user = "guest";
  <% if(currUser) { %>
    user = `<%= currUser.username %>`;
    socket.emit("userConnect", user);
    xhr.open("GET", `user/unread/<%= currUser.username %>`, true);
    xhr.onload = () => {
      let unReadCnt = xhr.responseText;
      badge.style.display = "block";
      if (parseInt(unReadCnt) > 0) badge.innerText = parseInt(unReadCnt);
      else badge.style.display = "none";
    };
    xhr.send();
  <% } %>
</script>
